* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav__section {
    max-width: 100%;
}
.nav__bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;

    padding-left: 16px;
    height: 80px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
.nav__link:hover {
    text-decoration: underline;
    color: pink;
}

.nav__link--primary:hover {
    border: 2px solid;
    border-style:solid;
    border-radius: 10px;
}


ul {
    list-style-type: none;
    padding: 16px;
    display: flex;
}
.nav__link {
    padding-left: 16px;
    padding-right: 20px;
    color: whitesmoke;
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    padding: 0 auto;

}
li {
    padding-left: 16px;
}
.name__logo {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    color: whitesmoke;
    padding-left: 16px;
}
#meat  {
    background-color: rgb(227, 204, 194);
    height: 100vh;
    margin: 0 auto;

}
span {
    color: red;
    padding: 6px;
}
.meat__heading {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.meat__subheading--container{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.meat1{
    display: flex;
    margin: 0 auto;

    justify-content: center;
    align-items: center;
}
p.meat_2{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    width: 700px;
    align-items: center;
    border-style: solid;
    border-color: white;
    padding: 24px, 24px;
}
.dogmeme {
    display: flex;
    width: 200px;
    padding: 24px;
}
.about__heading {
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: whitesmoke;

}
.about__meat {
    width: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: whitesmoke;

}
#About {
    background-color: purple;
    height: 100vh;
}

#Contact__section {
    background-color: rgb(227, 204, 194);
    height: 100vh;
}

.ContactLogo {
    display: flex;
    font-size: 60px;
    justify-content: center;

}
.contact__meat {
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 auto;

}
.contact__image{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
 }